[submodule "core/client"]
	path = core/client
	url = https://github.com/TryGhost/Ghost-Admin.git
[submodule "content/themes/minutesdepot"]
	path = content/themes/minutesdepot
	url = https://github.com/trochette/Casper.git
